<a href="https://colab.research.google.com/github/joelma78/GitPY/blob/main/TrabMA_adult.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing
import OrdinalEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

# Defina os nomes das 14 colunas conforme .names
colunas = [
    'age', 'workclass', 'fnlwgt', 'education', 'education-num',
    'marital-status', 'occupation', 'relationship', 'race', 'sex',
    'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
    'income'
]

# Carregar treino
df_train = pd.read_csv('/content/drive/MyDrive/adult/adult.data', header=None, names=colunas, na_values=' ?')

# Carregar teste
df_test = pd.read_csv('/content/drive/MyDrive/adult/adult.test', header=0, names=colunas, skiprows=1, na_values=' ?')

In [10]:
print("Amostra dos dados:")
df_train.shape

Amostra dos dados:

(32561, 15)

In [11]:
# Mostrar resumo das colunas, tipos e valores nulos
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [12]:
# Contar quantos valores faltam em cada coluna
df_train.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

In [13]:
# Preencher valores ausentes nas colunas workclass, occupation e native-country com a moda
for col in ['workclass', 'occupation', 'native-country']:
    # Calcular a moda para o conjunto de treino e preencher os NaN
    mode_train = df_train[col].mode()[0]
    df_train[col].fillna(mode_train, inplace=True)

    # Calcular a moda para o conjunto de teste e preencher os NaN
    mode_test = df_test[col].mode()[0]
    df_test[col].fillna(mode_test, inplace=True)

# Verificar se ainda há valores ausentes após o preenchimento
print("Valores ausentes em df_train após preenchimento:")
display(df_train.isnull().sum())

print("\nValores ausentes em df_test após preenchimento:")
display(df_test.isnull().sum())

Valores ausentes em df_train após preenchimento:

/tmp/ipython-input-3472038055.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train[col].fillna(mode_train, inplace=True)
/tmp/ipython-input-3472038055.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test[col].fillna(mode_test, inplace=True)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

Valores ausentes em df_test após preenchimento:

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [14]:
# Identificar colunas categóricas
categorical_cols = df_train.select_dtypes(include='object').columns

print("Colunas categóricas:")
print(categorical_cols)

# Mostrar valores únicos em algumas colunas categóricas (escolha algumas importantes)
for col in ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']:
    if col in categorical_cols:
        print(f"\nValores únicos em '{col}':")
        display(df_train[col].unique())

Colunas categóricas:
Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'income'],
      dtype='object')

Valores únicos em 'workclass':

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
      dtype=object)

Valores únicos em 'education':

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

Valores únicos em 'marital-status':

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

Valores únicos em 'occupation':

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

Valores únicos em 'relationship':

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

Valores únicos em 'race':

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

Valores únicos em 'sex':

array([' Male', ' Female'], dtype=object)

Valores únicos em 'native-country':

array([' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

Valores únicos em 'income':

array([' <=50K', ' >50K'], dtype=object)

In [15]:
# Identificar colunas para One-Hot Encoding (excluindo a coluna alvo 'income')
cols_to_onehot = [col for col in categorical_cols if col != 'income']

# Aplicar One-Hot Encoding nos DataFrames de treino e teste
df_train_encoded = pd.get_dummies(df_train, columns=cols_to_onehot, drop_first=True)
df_test_encoded = pd.get_dummies(df_test, columns=cols_to_onehot, drop_first=True)

print("DataFrame de treino após One-Hot Encoding:")
display(df_train_encoded.head())

print("\nDataFrame de teste após One-Hot Encoding:")
display(df_test_encoded.head())

DataFrame de treino após One-Hot Encoding:

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,<=50K,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,50,83311,13,0,0,13,<=50K,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,38,215646,9,0,0,40,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,53,234721,7,0,0,40,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,28,338409,13,0,0,40,<=50K,False,False,True,...,False,False,False,False,False,False,False,False,False,False

DataFrame de teste após One-Hot Encoding:

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,38,89814,9,0,0,50,<=50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False
1,28,336951,12,0,0,40,>50K.,True,False,False,...,False,False,False,False,False,False,False,True,False,False
2,44,160323,10,7688,0,40,>50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,18,103497,10,0,0,30,<=50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,34,198693,6,0,0,30,<=50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False

In [16]:
from sklearn.preprocessing import StandardScaler

# Identificar colunas numéricas (excluindo a coluna alvo 'income')
# Precisamos fazer isso nos DataFrames codificados, pois as colunas originais foram substituídas
numerical_cols = df_train_encoded.select_dtypes(include=np.number).columns.tolist()

# Remover a coluna 'income' se ela for numérica após a codificação (o que não deve acontecer com One-Hot)
if 'income' in numerical_cols:
    numerical_cols.remove('income')

print("Colunas numéricas para dimensionamento:")
print(numerical_cols)

# Inicializar o StandardScaler
scaler = StandardScaler()

# Aplicar Standard Scaling nas colunas numéricas do conjunto de treino
df_train_scaled = df_train_encoded.copy() # Crie uma cópia para não modificar o dataframe original inplace
df_train_scaled[numerical_cols] = scaler.fit_transform(df_train_scaled[numerical_cols])

# Aplicar Standard Scaling nas colunas numéricas do conjunto de teste (usando o scaler ajustado no treino)
df_test_scaled = df_test_encoded.copy() # Crie uma cópia
df_test_scaled[numerical_cols] = scaler.transform(df_test_scaled[numerical_cols])

print("\nDataFrame de treino após dimensionamento:")
display(df_train_scaled.head())

print("\nDataFrame de teste após dimensionamento:")
display(df_test_scaled.head())

Colunas numéricas para dimensionamento:
['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

DataFrame de treino após dimensionamento:

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,<=50K,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,<=50K,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,<=50K,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,<=50K,False,False,True,...,False,False,False,False,False,False,False,False,False,False

DataFrame de teste após dimensionamento:

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,income,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,-0.042642,-0.947095,-0.420060,-0.145920,-0.21666,0.774468,<=50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False
1,-0.775768,1.394362,0.746039,-0.145920,-0.21666,-0.035429,>50K.,True,False,False,...,False,False,False,False,False,False,False,True,False,False
2,0.397233,-0.279070,-0.031360,0.895083,-0.21666,-0.035429,>50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False
3,-1.508894,-0.817458,-0.031360,-0.145920,-0.21666,-0.845327,<=50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False
4,-0.335892,0.084460,-1.586158,-0.145920,-0.21666,-0.845327,<=50K.,False,False,True,...,False,False,False,False,False,False,False,True,False,False

In [17]:
# Mapear a coluna 'income' para valores numéricos
# Assumindo que '<=50K' será 0 e '>50K' será 1
income_mapping = {' <=50K': 0, ' >50K': 1, ' <=50K.': 0, ' >50K.': 1}

df_train_scaled['income'] = df_train_scaled['income'].map(income_mapping)
df_test_scaled['income'] = df_test_scaled['income'].map(income_mapping)


# Separar features (X) e alvo (y) para treino
X_train = df_train_scaled.drop('income', axis=1)
y_train = df_train_scaled['income']

# Separar features (X) e alvo (y) para teste
X_test = df_test_scaled.drop('income', axis=1)
y_test = df_test_scaled['income']

print("Shapes dos conjuntos X e y:")
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

print("\nPrimeiras linhas de X_train:")
display(X_train.head())

print("\nPrimeiras linhas de y_train:")
display(y_train.head())

Shapes dos conjuntos X e y:
X_train shape: (32561, 97)
y_train shape: (32561,)
X_test shape: (16280, 96)
y_test shape: (16280,)

Primeiras linhas de X_train:

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

Primeiras linhas de y_train:

0    0
1    0
2    0
3    0
4    0
Name: income, dtype: int64

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Inicializar o modelo
model = RandomForestClassifier(random_state=42)

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões no conjunto de teste
# Reindexar as colunas de X_test para corresponder às colunas de X_train
X_test_reindexed = X_test.reindex(columns=X_train.columns, fill_value=0)

y_pred = model.predict(X_test_reindexed)

# Avaliar o modelo (mostraremos a avaliação no próximo passo)
print("Modelo treinado. Previsões feitas no conjunto de teste.")

Modelo treinado. Previsões feitas no conjunto de teste.

In [20]:
# Avaliar o modelo
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print("\nAcurácia do Modelo:", accuracy)
print("\nRelatório de Classificação:")
print(report)
print("\nMatriz de Confusão:")
print(conf_matrix)

Acurácia do Modelo: 0.8511056511056511

Relatório de Classificação:
              precision    recall  f1-score   support

           0       0.88      0.93      0.90     12434
           1       0.72      0.61      0.66      3846

    accuracy                           0.85     16280
   macro avg       0.80      0.77      0.78     16280
weighted avg       0.85      0.85      0.85     16280


Matriz de Confusão:
[[11520   914]
 [ 1510  2336]]

In [23]:
# Analisar a relação entre raça e renda
# Agrupar por raça do dataframe original e calcular a média da renda do dataframe escalado
# Crie uma cópia do dataframe escalado para adicionar a coluna 'race' de volta
df_train_with_race = df_train_scaled.copy()
df_train_with_race['race'] = df_train['race']

income_by_race = df_train_with_race.groupby('race')['income'].mean().sort_values(ascending=False)

print("Proporção de renda >50K por raça:")
display(income_by_race)

Proporção de renda >50K por raça:

race
Asian-Pac-Islander    0.265640
White                 0.255860
Black                 0.123880
Amer-Indian-Eskimo    0.115756
Other                 0.092251
Name: income, dtype: float64